*{
    margin: 0;
    padding: 0;
}
.body{
    box-sizing: border-box;
}
.joincontent{
    margin-left: 1rem;
    display: flex;
    margin-bottom: 2rem;
    height: auto;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.joinus_main{
    overflow: hidden;
    background-color: var(--second-color);
}
.main_heading{
    font-size: var(--h3--size);
}
.content{
    font-size: var(--normal-font-size);
    text-align: left;
}
.content li{
margin-top: 1rem;
list-style: none;
display: flex;
}
.content li {
    position: relative;
    list-style-type: none; /* Remove default bullet points */
    margin-bottom: 10px;
    padding-left: 20px; /* Space for the dot */
  }
  
  .content li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; /* Width of the dot */
    height: 10px; /* Height of the dot */
    background-color: #000; /* Color of the dot */
    border-radius: 50%; /* Make it a circle */
  }
.joinus_lft{
    width: 45%;
    /* text-align: justify; */
}
.joinus_right{
    /* font-size: 13rem; */
    width: 40%;
    margin-left: 4rem;
    text-align: center;
}
.joinus_lft_con h1{
    font-family: "Poppins";
    line-height: 4rem;
    font-size:5rem ;
    text-align: left;
}
.joinus_right h1 {
    transition: color 0.5s ease-in-out;
}
.color-change {
    color: red; /* Change this to your desired color */
}
/* --------------------------------- */
@media screen and (max-width:1024px){
}
@media screen and (max-width:1024px) {
    .joinus_lft {
        width: auto;
      }
    .joinus_right{
        /* font-size: 13rem; */
        width: auto;
        margin-left: 4rem;
    }
    .joinus_lft_con h1{
        line-height: 4rem;
        font-size:4rem ;
        text-align: left;
    }

}
@media screen and (max-width: 768px){
    .joinus_right{
        /* font-size: 13rem; */
        width: auto;
        margin-left: 4rem;
    }
    .joinus_lft_con h1{
        line-height: 3rem;
        font-size:3rem ;
        text-align: left;
    }
    
    
}
@media screen and (max-width: 768px){
    .joinus_right{
       display: none;
    }
}
@media screen and (max-width: 600px){

}

@media screen and (max-width: 414px){

}
