.joincontent{
    display: flex;
    margin-bottom: 2rem;
    height: auto;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: space-between;
}
.joinus_main{
    overflow: hidden;
    background-color: var(--second-color);
}
.main_heading{
    font-size: calc(var(--normal-font-size) + 1rem);
    font-weight: bold;
}
.content_sbsq{
    font-size: var(--normal-font-size);
    text-align: left;
}
.content_sbsq li{
margin-top: 1rem;
list-style: none;
display: flex;
}
.content_sbsq li {
    position: relative;
    list-style-type: none; /* Remove default bullet points */
    margin-bottom: 10px;
    padding-left: 20px; /* Space for the dot */
  }
  
  .content_sbsq li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; /* Width of the dot */
    height: 10px; /* Height of the dot */
    background-color: #000; /* Color of the dot */
    border-radius: 50%; /* Make it a circle */
  }
.joinus_right{
    text-align: center;
}
.anim-text{
    font-size: calc(var(--normal-font-size) + 2rem);
    font-family: "Poppins";
    font-size:5rem ;
    text-align: left;
    font-weight: bold;
    line-height: 4rem;
}
/* --------------------------------- */
@media screen and (max-width:1024px){
}
@media screen and (max-width:1024px) {
    .joinus_lft {
        width: auto;
      }

}
@media screen and (max-width: 768px){
    .joinus_right{
        /* font-size: 13rem; */
        width: auto;
    }
    
    
}
@media screen and (max-width: 768px){
    .joincontent{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .joinus_right{
        margin: 0;
    }
    .anim-text{
        font-size: calc(var(--normal-font-size) + 4rem);
    }
}
@media screen and (max-width: 500px){
    .anim-text{
        font-size: calc(var(--normal-font-size) + 3rem);
    }
}

@media screen and (max-width: 368px){
    .anim-text{
        font-size: calc(var(--normal-font-size) + 2rem);
        line-height: 3rem;
    }
}
