.reviewed_user {
    display: flex;
    margin-top: 2rem;
  }
  .reviewed_user_image {
    display: flex;
  }
  .reviewed_user_image img {
    border-radius: 50px;
    background-color: var(--second-color);
    box-sizing: border-box;
    height: 50px;
    width: 50px;
  }
  .reviewed_user_name {
    margin-left: 14px;
  }
  .reviewed_user_name p {
    font-size: 10px;
  }
  .review_user_rating svg {
    color: var(--second-color);
  }
  .review_user_rating span {
    font-size: 10px;
    margin-top: 0;
    color: #1617199b;
  }
  .review_user_main_review_content {
    margin-left: 55px;
  }
  .like_review_reply {
    display: flex;
  }
  .like_review {
    display: inline-flex;
    margin-top: 0.5rem;
    padding: 5px 10px;
    cursor: pointer;
  }
  .like_review svg {
    font-size: 1.3rem;
    color: #1617199b;
  }
  .like_review .liked{
      color: var(--second-color);
  }
  .like_review p {
    color: #1617199b;
    margin-left: 10px;
  }
  .review_reply {
    margin-left: 0.5rem;
    margin-top: 1rem;
    color: #1617199b;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
  }
  .review_reply:hover {
    color: #161719b8;
  }
  .show {
    animation-name: oys;
  }
  .review_star svg{
    margin-bottom: 1rem;
    color: var(--second-color);
  }
  @keyframes oys {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 50%;
    }
    100% {
      opacity: 100%;
    }
  }
  .review_reply_input {
    width: 30%;
  }
  .review_reply_input input {
    border-radius: 20px;
    border: 1px solid var(--second-color);
    width: 100%;
    margin-top: 10px;
    padding: 8px 1rem;
    margin-bottom: 10px;
  }
  .review_reply_input input:focus {
    outline: none;
    border: 1px solid var(--third-color);
  }
  .review_reply_content {
    border-left: 2px solid grey;
    margin-top: 10px;
  }
  .review_reply_response {
    margin-left: 10px;
  }
  .review_reply_titledate {
    display: flex;
  }
  .review_reply_titledate h1 {
    font-size: 1rem;
  }
  .review_reply_titledate span {
    margin-left: 10px;
    font-size: 0.8rem;
    margin-top: 2px;
  }
  .review_reply_response p {
    font-size: 0.9rem;
  }
  .review_reply_input_main {
    display: none;
  }
  .review__input {
    display: block;
  }