.testimonials_container {
  margin-bottom: 4rem;
}
.reviews_top_header {
  margin-top: 1rem;
  padding: 0.5rem 0;
}
.reviews_header_content {
  display: flex;
}
.reviews_heading_personinfo {
  line-height: 22px;
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 1rem;
}
.reviews_heading_personinfo span {
  color: #161719af;
}
.reviews_heading_personinfo .testi_username {
  align-self: center;
  font-size: 1.4rem;
}
.person_imgae {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 50%;
  grid-area: 1/1/3/2;
  align-self: center;
  position: relative;
  top: .5rem;
}
.person_imgae img {
  width: 100%;
  border-radius: 50%;
}
.writereview_btn {
  background: var(--second-color);
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.writereview_btn:hover {
  background: var(--third-color);
  color: var(--first-color);
}
.writereview_btn:hover span {
  color: var(--first-color);
}
.reviews_heading_writereview {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
}
.reviews_heading_writereview_content {
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 50%);
  background: var(--third-color);
  color: var(--first-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
  z-index: 100;
  width: 60%;
  display: none;
}
.open {
  opacity: 1;
  display: block;
}
.writereview_content_brandname {
  text-align: center;
}
.reviewed_user_stars {
  font-size: 2rem;
  text-align: center;
}
.reviewed_user_stars svg {
  margin-left: 5px;
  cursor: pointer;
}
.reviewed_user_content_box textarea {
  resize: none;
  width: 100%;
  font-family: inherit;
  padding: 12px;
  font-size: 14px;
  outline: none;
  background: var(--first-color);
  color: var(--third-color);
}
.reviewed_user_close {
  display: flex;
  justify-content: end;
  margin-top: 4rem;
}
.reviewed_user_close button {
  background-color: var(--second-color);
  border: 2px solid var(--first-color);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 20px;
  margin-left: 12px;
  font-weight: normal;
  color: var(--third-color);
  cursor: pointer;
}
.reviewed_user_close button:hover {
  background-color: var(--first-color);
  color: var(--third-color);
}
.visibility_dropdown label {
  font-size: 12px;
}
.visibility_dropdown span {
  font-size: 12px;
  background-color: transparent;
  border: none;
  /* cursor: pointer; */
}

.writereview_btn{
  cursor: pointer;
  border-radius: .5rem;
}
.writereview_btn:hover {
  background: var(--third-color);
}

@media (max-width: 768px) {
  .reviews_heading_writereview_content {
    width: 80%;
  }
  .writereview_btn {
    font-weight: 600;
    padding: 8px 10px;
  }
  .reviews_rating_number {
    font-size: 1.7rem;
    margin-left: 4px;
  }
  .reviews_rating_stars svg {
    font-size: 1.4rem;
  }
  .reviews_count {
    font-size: 0.8rem;
    margin-left: 0.6rem;
  }
  .reviews_filter_box span {
    font-size: 14px;
  }
  .reviews_filter_box select {
    margin-left: 5px;
  }
  .review_user_main_review_content {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .reviews_heading_writereview_content {
    width: 100%;
    top: -10%;
  }
  .writereview_btn {
    font-weight: 600;
    padding: 5px 5px;
  }
  .reviews_rating_number {
    font-size: 1.4rem;
    margin-left: 4px;
  }
  .reviews_rating_stars svg {
    font-size: 1rem;
  }
  .reviews_count {
    font-size: 0.7rem;
    margin-top: 12px;
    margin-left: 0.6rem;
  }
  .reviews_heading_personinfo h1 {
    font-size: 28px;
  }
  .reviews_heading_personinfo span {
    font-size: 10px;
  }
}
@media (max-width: 414px) {
  .writereview_btn {
    font-weight: 600;
    padding: 5px 5px;
  }
  .writereview_btn {
    font-size: 9px;
  }
  .reviews_rating_number {
    font-size: 1.2rem;
    margin-left: 0px;
    margin-right: 4px;
  }
  .reviews_filter_box span {
    font-size: 9px;
  }
  .reviews_rating_stars svg {
    font-size: 12px;
  }
  .reviews_count {
    font-size: 10px;
    margin-top: 8px;
    margin-left: 0.6rem;
  }
  .reviews_heading_personinfo h1 {
    font-size: 18px;
  }
  .reviews_heading_personinfo span {
    font-size: 9px;
  }
  .reviews_filter_box select {
    font-size: 9px;
  }
}
