.products_slug{
    width: 100vw;
    padding: 0 10vw 0 10vw;
}
.ap_product{
    /* display: grid;
    grid-template-columns: 30rem auto auto;
    grid-template-rows: auto auto auto; */
    display: flex;
    gap: 1rem;
    /* padding: 1rem; */
    border-radius: 1rem;
    width: 100%;
    height: 20rem;
    /* box-shadow: 5px 8px 20px #1617193d; */
}
.ap_product_img{
    height: 100%;
}
.ap_product_img img{
    border-radius: 1rem;
    height: 100%;
}
.ap_product_details{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.ap_product_code_status{
    grid-area: 1/1/2/2;
}
.ap_listing_view{
    grid-area: 1/2/2/3;
}
.ap_title_description{
    grid-area: 2/1/3/3;
}
.ap_product_code_status{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.product_status{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.product_status .status_sale{
    width: .7rem;
    height: .7rem;
    background: var(--second-color);
    border-radius: 50%;
}
.product_code{
    background: var(--third-color);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: var(--first-color);
}
.ap_listing_view{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: flex-end;
}
.ap_listing_view_btn{
    display: flex;
    gap: .5rem;
    color: var(--third-color);
    background: var(--second-color);
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}
.ap_listing_view_btn span{
    position: relative;
    top: 2px;
}
.ap_listing_view_btn:hover{
    color: var(--first-color);
}
.ap_title_description{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-self: flex-start;
}
.ap_title{
    display: flex;
    gap: 7px;
    font-weight: bold;
}
.ap_read_more{
    color: var(--third-color);
    text-decoration: underline;
}

.product_price_listing{
    width: 100%;
    margin-top: 2rem;
}

.ap_levels{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.ap_price_levels_listings_features{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 4rem 0 4rem 0;
}
.ap_features_container{
    margin-top: 1rem;
    border-left: 1px solid var(--border-color);
    padding-left: .5rem;
}
.ap_feature_heading{
    font-size: 1.3rem;
}
.feature_pricing_details{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 11rem;
}
.ap_feature_pricng_detal{
    display: flex;
    align-items: center;
    gap: 2px;
}
.ap_feature_pricing_price{
    font-size: 2.5rem;
}
.ap_feature_pricing_time{
    align-self: flex-end;
    position: relative;
    bottom: .5rem;
}

.ap_feature_heading_feature_details{
    position: relative;
    top: 1rem;
}

.ap_feature_purpose{
    display: grid;
    grid-template-rows: repeat(10,4rem);
}

.ap_feature{
    display: flex;
    align-items: flex-start;
    gap: 4px;
}
.feature_icon{
    align-self: flex-start;
    font-size: .5rem;
    position: relative;
    top: .5rem;
}
.ap_feature_name_container div p{
    font-weight: bold;
}
.ap_information_containers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}
.ap_buying_advice{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}