@font-face {
    font-family: neu;
    src: url(../../../../public/fonts/NeueHaasDisplayMediu.ttf);
}
.about{
    width: 100vw;
    background: var(--second-color);
    position: relative;
    z-index: 2;
    padding: 3rem 8vw 3rem 8vw;
    display: flex;
    height: 30rem;
    flex-direction: column;

    justify-content: center;
}
.about_headings{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.about_heading{
  align-self: flex-start;
}
.about_content{
  display: flex;
  justify-content: space-between;
}
.about_paragraph{
  margin-top: 1rem;
  padding-right: 3rem;
}
.about_paragraph p{
  height: 10rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
.about_img img{
  height: 14rem;
  width: auto;
  border-radius: 1rem;
  margin-top: 1rem;
}
.about_button{
  width: 10rem;
  height: 3rem;
  border-radius: 5rem;
  background: var(--third-color);
  color: var(--first-color);
  outline: none;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.about_button:hover{
  background: var(--second-color);
  border: 1px solid var(--third-color);
  color: var(--third-color);
}
@media screen and (max-width: 768px){
  .about{
    padding: 3vh 2vw 3vh 2vw;
  }
  .about_img img{
    height: 12rem;
    width: auto;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 768px){
  .about{
    height: 25rem;
  }
  .about_img {
    display: none;
  }
  .about_sub_heading{
    font-size: 1rem;
  }
  .about_paragraph{
    padding-right: 0;
  }
}