
.achievements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
}
.achievements_container{
    width: 100%;
    display: grid;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}
.achievements_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.achievement{
    align-self:  center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10vw 4rem 2rem auto;
    height:auto;
}
.achievement_icon{
    font-size: 5rem;
    align-self: flex-end;
    justify-self: center;
    overflow: hidden;
    color: var(--second-color);
}
.achievement_count{
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    position: relative;
    left: .5rem;
}
.achievement_name{
    align-self: center;
    justify-self: center;
    font-size: 1.1rem;
    text-align: center;
}
.achievement_para{
    align-self: flex-start;
    justify-self: center;
    font-size: 1rem;
    text-align: center;
}
@media screen and (max-width: 1024px){
    .achievement_para{
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 768px){
    .achievement{
        /* height: 350px; */
    }
    .achievements_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .achievement_icon{
        font-size: 3rem;
    }
    .achievement_count{
        font-size: 1.5rem;
    }
    .achievement_para{
        margin-top: 1rem;
    }
}
@media screen and (max-width: 500px){
    .achievement_para{
        display: none;
    }
    .achievements_container{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    .achievement{
        height: auto;
        grid-template-rows: auto auto auto auto;
        gap: .5rem;
    }
}