/* .achievements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    z-index: 2;
} */

.achievements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.achievements_container{
    width: 100%;
    display: grid;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}
.achievements_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.achievement{
    align-self:  center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10vw 4rem 2rem auto;
    height:400px;
}
.achievement_icon{
    font-size: 7vw;
    align-self: flex-end;
    justify-self: center;
    overflow: hidden;
}
.achievement_count{
    align-self: center;
    justify-self: center;
    font-size: 3vw;
}
.achievement_name{
    align-self: center;
    justify-self: center;
    font-size: 1.3vw;
}
.achievement_para{
    align-self: flex-start;
    justify-self: center;
    font-size: 1vw;
    text-align: center;
}
@media screen and (max-width: 768px){
    .achievement{
        height: 300px;
    }
    .achievement_name{
        font-size: .7rem;
    }
    .achievement_para{
        font-size: .6rem;
    }
}
@media screen and (max-width: 414px){
    .achievements_container{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    .achievement{
        height: auto;
        grid-template-rows: auto auto auto auto;
        gap: .5rem;
    }
}