.aap_container{
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}
.image_td img{
    width: 5rem;
    border-radius: .5rem;
}

.aap_container td,th{
    border: 1px solid black;
}
.edit_td{
    cursor: pointer;
}
.edit_td a{
    color: var(--second-color);
}