


.joinus_main{
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 5rem;
}
.title{
    font-size:var( --h1-font-size);
    color: var(--third-color);
}
.title h1 span{
    color: var(--second-color);
    
}
.Team_Yellow_underline {
    width: 20%;
    height: 4px;
    background: var(--second-color);
    display: inline-block;
    margin-bottom: 10px;
    margin-bottom: 2rem;
}
.joinus_content{
    width: 75%;
    margin: 0 auto;
    /* margin-top: 1rem; */
    text-align: center;
    font-size: var(--normal-font-size);
}
.joinus_btn{
    margin-top: 3rem;

}
.joinus_btn .btn{
    padding: 10px 40px;
    border: 3px solid var(--second-color);
    background-color: var(--first-color);
    color: black;
    border-radius: 19px;
    font-size: 14px;
    
}
.joinus_btn .btn:hover{
    background: var(--second-color);
    color: white;

}

@media (max-width: 768px) {
      .title {
        font-size: var( --h3-font-size);
      }
      .joinus_content{
        font-size: 14px;
      }
}
@media (max-width: 600px) {
    .title {
        font-size: 14px;
      }
      .joinus_content{
        font-size: 12px;
      }
      .joinus_content{
            width: 90%;
      }
}
          @media (max-width: 414px) {
            .title {
                font-size: 12px;
              }
              .joinus_content{
                font-size: 11px;
              }
          }