.blog_comments-container {
  margin: 3rem 0 1rem 0;
}

.blog_comments-container h1 {
  font-size: calc(var(--normal-font-size) + 0.5rem);
  color: var(--third-color);
  font-weight: 600;
}

.blog_comments-list {
  margin-top: 2rem;
  position: relative;
}

.blog_comments-list li {
  margin-bottom: 1rem;
  display: block;
  position: relative;
}
/**
* Avatar
---------------------------*/
.blog_comments-list .blog_comment-avatar {
  width: 5rem;
  height: 4.5rem;
  position: relative;
  z-index: 10;
  float: left;
  border: 2px solid var(--third-color);
  border-radius: 4px;
  overflow: hidden;
}

.blog_comments-list .blog_comment-avatar img {
  width: 100%;
  height: 100%;
}

.blog_comment-main-level {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}
/**
* Caja del Comentario
---------------------------*/
.blog_comments-list .blog_comment-box {
  width: 100%;
  float: right;
  position: relative;
}

.blog_reply-list .blog_comment-box {
  width: 610px;
}
.blog_comment-box .blog_comment-head {
  background: var(--third-color);
  padding: 10px 12px;
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  width: 100%;
}
.blog_comment-box .blog_comment-head .coment_sect_icons {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: var(--first-color);
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 2px;
}

.blog_comment-box .blog_comment-head .coment_sect_icons svg:hover {
  color: var(--second-color);
}

.blog_comment-box .blog_comment-name {
  color: var(--first-color);
  font-size: calc(var(--normal-font-size) - .2rem);
  font-weight: 700;
  float: left;
  margin-right: 1rem;
}

.blog_comment-box .blog_comment-name {
  color: var(--second-color);
}

.blog_comment-box .blog_comment-head span {
  float: left;
  color: var(--first-color);
  font-size: calc(var(--normal-font-size) - .3rem);
}
.coment_sect_icons svg {
  float: right;
  color: var(--first-color);
  padding-left: 10px;
  font-size: calc(var(--normal-font-size) + .3rem);
  transition: all 0.3s ease;
}

.blog_comment-box .blog_comment-content {
  background: var(--second-light-dark-color);
  padding: 12px;
  font-size: var(--normal-font-size);
  color:var(--first-color);
  border-radius: 0 0 4px 4px;
  width: 100%;
}
.icon_cmnt_heart{
   margin-right: 4px;
}
.blog_comment-content p {
   height: auto;
 }
 
 .blog_comment-content span {
   color: var(--second-color);
   font-size: calc(var(--normal-font-size) - .2rem);
   cursor: pointer;
 }
 
.blog_comment-box,
.blog_comment-name.by-author,
.blog_comment-box,
.blog_comment-name.by-author {
  color: var(--second-color);
}

/** =====================
* Responsive
========================*/
.blog_comentbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cometbox_main_input {
  width: 100%;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  border-radius: .4rem;
  padding: 5px;
  margin-bottom: 3rem;
  height: 4rem;
}
.cometbox_main_input input {
  padding: 15px 15px;
  border: none;
  outline: none;
  width: 100%;
  background: var(--third-color);
  color: var(--first-color);
  font-size: var(--normal-font-size);
}
.comentbox_bnt {
  width: 10%;
  display: flex;
  justify-content: end;
}
.cometbox_main_input button {
  border: none;
  color: var(--first-color);
  background-color: var(--second-color);
  padding: 5px 20px;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: 600;
  width: 100%;
  border-radius: .4rem;
  font-size: var(--normal-font-size);
  cursor: pointer;
}
.cometbox_main_input button:hover{
   color: var(--third-color);
}
.liked {
  color: var(--second-color); /* Change to desired liked color */
}

.blog_comments-list .blog_comment-box:before,
.blog_comments-list .blog_comment-box:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent var(--third-color);
  top: 8px;
  left: -11px;
}

.blog_comments-list .blog_comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}
@media only screen and (max-width: 1700px) {}
@media only screen and (max-width: 1500px) {}
@media only screen and (max-width: 1300px) {
   .cometbox_main_input {
      height: 3rem;
    }
}
@media only screen and (max-width: 1024px) {
   .comentbox_bnt {
      width: 20%;
    }
}
@media only screen and (max-width: 768px) {
   .blog_comments-list .blog_comment-avatar {
      width: 4rem;
      height: 3.5rem;
   }    
}
@media only screen and (max-width: 500px) {}
@media only screen and (max-width: 360px) {
   .comentbox_bnt {
      width: 25%;
    }
}
