.Contact_main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: var(--first-color);
}
.left_con{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.content_cont_form{
    font-style: var( --normal-font-size);
}
.content_cont_form_btm{
    margin-bottom: 1rem;
}
.title_right_contact{
    font-weight: bold;
    font-size: calc(var(--normal-font-size) + .5rem);
}
.s_title{
    margin-top: 1rem;
}
.form_arrow {
    margin-left: 1rem;
    width: 0;
    height: 10;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 60px solid var(--second-color);
}
.right_con{
    width: 50%;
}
.contact_main_form{
    padding: 10px;
    margin-left: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form_cel,
.contact_form_select_main{
    width: 100%;
    /* margin-top:1rem; */
   padding: 1rem;
   border: none;
   border-radius: 9px;
    background-color: white;
    box-shadow: rgba(127, 127, 127, 0.485) 0px 0px 12px ;
}
.f_group_cm{
    /* margin-top: 1rem; */
}
.f_group_cm input,
textarea,
.contact_form_select
,
select{
    width: 100%;
    padding: 1rem;
    resize: none;
    border: none;
    font-family: none;
    border-radius: 9px;
    background-color: var(--third-color);
    color: var(--first-color);
    border: 1px solid var(--border-color);
    outline: var(--second-color);
    border: 1px solid var(--second-color);
    font-size: var(--normal-font-size);
}
.form_cel{
        color: rgb(109, 109, 109);
}
.f_group_cm input::placeholder,textarea::placeholder{
    color: var(--first-color);
}
.form_submit_btn_main{
    background: var(--second-color);
    color: var(--first-color);
    float: right;
}
.form_submit_btn_main::after{
    background: var(--third-color);
}
.contact_joinus_page{
    margin-top: 2rem;
}
.contact_form_parent 
{
    position: relative;
}
  .contact_form_select_main{
    text-align: left;
    display: flex;
    color: var(--first-color);
    background: var(--third-color);
    justify-content: space-between;
    width: 100%;
    color: var(--light-light-color);
    font-size: var(--normal-font-size);
}
.contact_form_dropdown{
    /* border: 1px solid black; */
    visibility: hidden;
    position: relative;
}
.contact_dropdown{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    background-color: var(--second-color);
    padding: 10px;
    text-align: center;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    border: 1px solid var(--border-color);
}
  .contact_dropdown_link{
      padding: 8px;
    border-radius: 10px;
    background: var(--first-color);
    margin-top: 1px;
}
  .contact_dropdown_link:hover{
    background: var(--third-color);
    color: var(--second-color);
  }
 .contact_form_parent .contact_form_dropdown {
    visibility: visible;
    animation: slide-up 0.4s ease-in-out;
  }
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      /* left: -18px; */
      top: -20px;
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      left: 0;
      top: 0px;
    }
  }
  .contact_form_parent{
    z-index: 10000;
  }
  
  @media screen and (max-width: 768px){
    .form_arrow{
        display: none;
    }
    .Contact_main{
        flex-direction: column;
    }
    .left_con{
        width: 100%;
    }
    .right_con{
        width: 100%;
    }
    .contact_main_form{
        margin: 0;
        padding: 0;
    }
    .f_group_cm input,
textarea,
.contact_form_select
,
select{
    padding: 1rem;
}
.contact_form_select_main{
    padding: 1rem;
}
  }
  @media screen and (max-width: 500px){
.submit_btn_contact{
    align-self: center;
    width: 100%;
}
.form_submit_btn_main{
    width: 100%;
}
  }