@font-face {
    font-family: neu;
    src: url(../../../../public/fonts/NeueHaasDisplayMediu.ttf);
}
.hero{
    position: sticky;
    top: 0;
    z-index: 0;
}
.hero_content{
    padding: 5vh 8vw 5vh 8vw;
}
.hero_info{
    font-family: neu;
    height: 76vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom:  1px solid rgba(11, 5, 0, .2);
    color: var(--third-color);
    padding-bottom: 7vh;
}
.left_body{
    width: 27vw;
    line-height: 2vw;
    font-size: 2.5rem;
}
.right_body{
    letter-spacing: -.03em;
    text-transform: uppercase;
    font-family: Neuehaasdisplay mediu, sans-serif;
    font-size: 7rem;
    font-weight: 500;
    line-height: .8;
    text-align: right;
    color: var(--third-color);
}
.right_body h1{
    color: var(--third-color);
}
@media only screen and (max-width: 1700px) {
    .hero_content{
        padding: 4vh 6vw 4vh 6vw;
    }
    .left_body{
        font-size: 2.5rem;
    }
    .right_body{
        font-size: 7rem;
    }
}
@media only screen and (max-width: 1500px) {
    .hero_content{
        padding: 2vh 4vw 2vh 4vw;
    }
    .left_body{
        font-size: 2rem;
    }
    .right_body{
        font-size: 6rem;
    }
}
@media only screen and (max-width: 1300px) {
    .hero_content{
        padding: 2.5vh 4vw 2.5vh 4vw;
    }
    .left_body{
        font-size: 1.4rem;
    }
    .right_body{
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 1024px){
    .left_body{
        line-height: 2.3vw;
        font-size: 1.2rem;
    }
    .right_body{
        font-size: 4rem;
    }
}
@media screen and (max-width: 768px){
    .hero_info{
        display: flex;
        flex-direction: column-reverse;
        height: 28rem;
    }
    .left_body{
        align-self: flex-start;
        margin-top: 10vh;
        width: 45vw;
        line-height: .9;
    }
    .left_body p{
        font-size: 1.3rem;
    }
    .right_body{
        margin-top: 20vh;
    }
    .right_body h1{
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 500px){
    .hero_info{
        height: 25rem;
    }
    .right_body h1{
        font-size: 3.7rem;
    }
    .left_body p{
        font-size: 1.05rem;
    }
}

@media screen and (max-width: 360px){
    .right_body h1{
        font-size: 15vw;
    }
    .left_body{
        width: 50vw;
    }
    .left_body p{
        font-size: 4.5vw;
    }
}