.portfolio_layout_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: 15rem;
}

  /* text  */
  .pf_h_info {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }
  
  .pf_h_heading {
    overflow: hidden;
  }
  .pf_h_heading h1 {
    /* font-size: 4rem; */
    font-size: 6rem;
    font-family: neu;
    position: relative;
  }
  
  .pf_links {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 3rem;
    gap: 1rem;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    background: rgba(239, 234, 227, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
  }
  .pf_link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  .pf_link a {
    color: var(--third-color);
  }
  .pf_link_categories {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 1.5rem;
    left: 0;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    background: var(--first-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    z-index: 100;
  }
  .pf_link_categories.visible {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
  
  .pf_link_categories_show {
    cursor: pointer;
    position: relative;
    top: 4px;
    color: var(--third-color);
  }
  
.pf_link_category{
  cursor: pointer;
} 
.pf_link_category:hover{
  color: var(--second-color);
}
.pf_link_category{
  font-size: var(--normal-font-size);
}
@media only screen and (max-width: 1700px) {
  .pf_h_heading h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 1500px) {
  .pf_h_heading h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 1300px) {
  .pf_h_heading h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
  .pf_h_heading h1{
    font-size: 3rem;
  }
  .pf_links{
    height: auto;
    padding: 1rem;
    flex-wrap: wrap;
    border-radius: .8rem;
  }
}
@media only screen and (max-width: 500px) {
  .pf_h_heading h1{
    font-size: 2.5rem;
  }
  .portfolio_layout_header{
    height: 13rem;
}

}