.values{
    position: relative;
    z-index: 2;
    background: var(--second-color);
}
.values_heading{
  font-weight: 600;
  font-size: 2.2rem;
}
.values_bg{
    width: 100vw;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.values_bg img{
    width: 100vw;
    position: absolute;
    z-index: 3;
}
.values_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}
.value{
  font-size: 5rem;
  font-weight: 600;
  font-family: neu;
  transition: opacity 0.4s;
  animation: slideIn 0.5s forwards;
  text-transform: uppercase;
}
.values_para{
  font-size: 1.1rem;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  80% {
    transform: translateX(10vw);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1024px){
  .values_heading{
    font-size: 1.5rem;
  }
  .value{
    font-size: 3.8rem;
  }
  .values_para{
    font-size: 1rem;
  }
  .values_bg{
    height: 20rem;
  }
}

@media screen and (max-width: 768px){
.values_para{
  display: none;
}
  .values_bg{
    height: 18rem;
}
.value{
  font-size: 2.6rem;
}
}
@media screen and (max-width: 500px){
    .values_bg{
      height: 14rem;
  }
  .value{
    font-size: 2rem;
  }
  .values_heading{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 414px){
  .values_bg{
    height: 12rem;
}
.value{
  font-size: 1.5rem;
}
.values_heading{
  font-size: 1.1rem;
}
}
@media screen and (max-width: 360px){
  .values_bg{
    height: 10rem;
}
.values_heading{
  font-size: 1rem;
}
.value{
  font-size: 1.1rem;
}
}