.quotes_container_ab{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.heading_about_comapny{
  align-self: center;
  text-align: center;
}
.quote_box_ab{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  width: 90%;
  background: var(--third-color);
  color: var(--first-color);
  border-radius: 2rem;
  padding: 2rem;
  margin-left: 5%;
}
.quote_ab{
  font-size: var(--normal-font-size);
}
.quote_comma_ab{
  font-size: calc(var(--normal-font-size) + 1rem);
  color: var(--second-color);
}
.openingcomma{
  margin-top: .2rem;
  align-self: flex-start;
  transform: rotate(180deg);
}
.closingomma{
  align-self: flex-end;
  justify-self: flex-end;
}
.quote_name_ab{
  font-size: var(--normal-font-size);
  color: var(--second-color);
}








.quotes_container_ab .react-multiple-carousel__arrow {
    width: 0;
    height: 0;
    background-color: transparent;
  }
 .quotes_container_ab .react-multiple-carousel__arrow--left {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid var(--second-color);
    border-radius: 30%;
    border-top-right-radius: 0;
  
    border-bottom-right-radius: 0;
    left: calc(12% + 1px);
    z-index: 2;
    left: 5vw;
  }
 .quotes_container_ab .react-multiple-carousel__arrow--left:hover {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid var(--third-color);
    background: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .quotes_container_ab .react-multiple-carousel__arrow--right {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid var(--second-color);
    right: calc(12% + 1px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 2;
    right: 5vw;
  }
 .quotes_container_ab .react-multiple-carousel__arrow--right:hover {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid var(--third-color);
    background: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
 .quotes_container_ab .react-multi-carousel-list {
    position: initial;
  }
 .quotes_container_ab .react-multiple-carousel__arrow--left::before {
    content: "";
  }
 .quotes_container_ab .react-multiple-carousel__arrow--right::before {
    content: "";
  }