* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quotes {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
}
.quotes_heading{
    text-align: center;
    /* margin-bottom: 1rem; */
    font-size:var( --h1-font-size);
}
.quote_box {
    /* height: auto; */
    /* max-width: 40%; */
    margin-right: 10px;
    margin-left: 10px;
    background: var(--third-color, #343a40);
    position: relative;
    border-radius: 60px;
    /* min-width: 45%; */
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.quote_box p{
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    /* text-align: justify; */
    margin: 40px 0;
    font-size: 11px;
    font-weight: bold;
    padding: 0 30px;
}

.openingcomma, .closingomma {
    color: var(--second-color, #ff6347);
}

.openingcomma {
    position: absolute;
    top: 10px;
    left: 20px;
    transform: rotate(180deg);
}

.closingomma {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.openingcomma svg, .closingomma svg {
    height: 40px;
    width: 40px;
}

.Yellow_underline{
    width: 10%;
    height: 4px;
    background: var(--second-color);
    display: inline-block;
    margin-bottom: 10px;
    margin-bottom: 2rem;
    text-align: center;
}
