.services_service{
  width: 100vw;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}
.services_service_heading{
  text-align: start;
  align-self: flex-start;
  width: auto;
  margin-bottom: 2rem;
}
.service_headline{
  font-weight: bold;
}
.service_subheadline{
  margin: .7rem 0 .7rem 0;
}
.services_media_wrapper{
  width: 100%;

}
.services_media_wrapper img{
  max-width: 28rem;
  float: right;
  border-radius: .5rem;
  margin-left: 1.5rem;
}
.services_media_text_boxex{
  font-size: 1rem;
}
.service_contact{
  width: 10rem;
  height: 3rem;
  background: var(--third-color);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--first-color);
}
.service_contact:hover{
  color: var(--second-color);
  margin-top: .5rem;
}

.service_detail{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin-top: 2rem;
}

.service_detail ul{
  list-style: disc;
  position: relative;
  left: 1rem;
}

.service_detail ul li ul{
  margin: 1rem 0 1rem 0;
}


  .service_faqs{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .faqs_container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .service_faq{
    padding: 1rem;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
  }
  .service_q{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .service_answer{
  }

  .service_answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height,margin-top 0.5s ease-out;
  }
  
  .service_answer.show {
    max-height: 500px; /* or any large value that exceeds the expected height of the content */
    margin-top: 1rem;
  }

  @media only screen and (max-width: 1024px) {
    .services_media_wrapper img{
      max-width: 22rem;
      margin-left: 1rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .services_service{
      padding-top: 3rem;
    }
    .services_media_wrapper img{
      max-width: 100%;
      border-radius: .5rem;
      margin-bottom: .7rem;
      margin-left: 0;
    }
    .service_detail ul{
      list-style: disc;
      position: relative;
      left: 0;
      margin: 2rem 0 2rem 0;
    }
  }

  
  @media only screen and (max-width: 500px) {
    .services_service{
      padding-top: 2rem;
    }
  }