.reviews_rating_filter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--border-color);
  }
  
  .reviews_rating {
    display: flex;
    font-size: var(--normal-font-size);
    font-weight: 500;
  
  }
  .reviews_rating_number {
    margin-right: .5rem;
  }
  .reviews_count {
    margin: auto 0px;
    color: var(--third-color);
    margin-left: .5rem;
  }
  .reviews_filter{
      font-size: var(--normal-font-size);
  }
  .reviews_filter_box {
    margin: auto 0;
    display: flex;
  }
  .reviews_filter_box span {
    font-weight: bold;
  }
  .reviews_filter_box select {
    background-color: transparent;
    outline: none;
    padding: .5rem;
    margin-left: 10px;
    cursor: pointer;
  }
  .filter_selection{
      font-size: var(--normal-font-size);
      border: 1px solid var(--border-color);
  }
  .reviews_filter_box select option{
    background: var(--first-color);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
  }