
.productcardmain{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.productcard{
    padding: 10px;
}
.prodcardimg{
width: 100%;
}
.prodcardimg img{
    border-radius: 10px;
    width: 100%;
}
.prodcardconhead{
    font-weight: bold;
    
}
.prodcardconcontent p{
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto; /* Allow the height to adjust based on content */
}

.prodcardbtn a{
    color: var(--third-color);
    font-size: 1rem;
}
.prodcardbtn a:hover{
    color: var(--light-dark-color);
}
.proecard_arrrow{
    position: relative;
    top: 3px;
}
.prodcardbtn:hover svg{
    transform: translateX(5px);
}