.slug_blog_img{
    border-radius: 1rem;
    overflow: hidden;
}
.slug_blog_container{
    margin-bottom: 4rem;
}
.blog_slug_heading{
    margin-bottom: 1rem;
}
.slug_blog_img img{
    border-radius: 1rem;
}
.blog_slug_after_img{
    margin-top: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
}
.slg_blg_title{
    font-size: 1.7rem;
    font-weight: bold;
    grid-area: 1/1/2/2;
}
.slg_posted_blog_person{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    grid-area: 2/1/3/2;
}
.slug_blog_persn_img{
    width: 3.5rem;
    height: 3.5rem;
    background: var(--third-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.slug_blog_persn_img img{
    width: 100%;
}
.person_slg_name_date{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.slg_person_name{
    font-weight: bold;
}
.blog_slg_like_share{
    align-self: center;
}
.blog_slg_like_share{
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    justify-content: center;
    color: var(--first-color);
    gap: 1rem;
    margin-left: 2rem;
}
.blog_slg_like{
    display: flex;
    background: var(--light-dark-color);
    border-radius: 5px;
    width: 8rem;
    height: 3rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blg_slg_like_icon{
    border-right: 1px solid var(--second-color);
    padding-right: 1rem;
    cursor: pointer;
}
.blg_slug_like_count{
    padding-left: 1rem;
}
.blog_slg_like.liked {
    color: var(--second-color);
  }
.blog_slug_share{
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-dark-color);
    color: var(--first-color);
    border-radius: 4rem;
    cursor: pointer;
}
.details_slug_blog{
    margin-top: 2rem;
    font-size: var(--normal-font-size);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.summarize_list_slug_blog{
    margin-top: 2rem;
    font-size: var(--normal-font-size);
    list-style: disc;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list_heading_slug_blg{
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    right: 1rem;
}
.liked {
    color: red; /* or any style you want for the liked state */
  }