/* CSS */
@font-face {
  font-family: neu;
  src: url(../../../../public/fonts/NeueHaasDisplayMediu.ttf);
}
.mobile_nav_dropdown {
  display: none;
}
.mobile_toogle_dropdown_arrow {
  display: none;
}
.overlay {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 5vh 8vw 5vh 8vw;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow property */
}

.navbar.scrolled {
  box-shadow: rgba(0, 0, 0, 0.2) 15px 20px 25px -18px; /* Initial box shadow */
}
.nav_toggle {
  display: none;
}
.nav_logo b {
  /* max-width: 100%; */
  color: var(--second-color);
}
.nav_logo {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-family: neu;
  color: var(--third-color);
}
.nav_links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nav_link {
  font-size: var(--normal-font-size);
  width: 9rem;
  height: 4.5rem;
}
.nav_link_parent {
  position: relative;
}
.nav_link_mobile {
  display: none;
}
.dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 100;
  padding: 1rem;
  background: var(--first-color);
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: var(--third-color);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.1s ease;
  transition: all 0.5s ease;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.nav_link_parent:hover .dropdown {
  transform: scale(1);
  visibility: visible;
}
.dropdown_link {
  padding: 1rem;
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--first-color);
  transition: background 0.3s ease;
  border-radius: 0.3rem;
  position: relative;
  color: var(--third-color);
}
.dd_link_icon {
  position: relative;
  top: 2px;
}
.Links {
  color: black;
}
.dropdown_link:hover .Links {
  color: white;
}
.dropdown_link:hover {
  background: var(--second-color);
  color: var(--first-color);
}
.linking_dropdown {
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  background: var(--first-color);
  position: absolute;
  right: 2rem;
  top: -0.4rem;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  z-index: -100;
}
@media only screen and (max-width: 1700px) {
  .navbar {
    padding: 4vh 6vw 4vh 6vw;
  }
  .nav_logo {
    font-size: 3.8rem;
  }
  .nav_links {
    gap: 0.8rem;
  }
  .nav_link {
    width: 8rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 1500px) {
  .navbar {
    padding: 2vh 4vw 2vh 4vw;
  }
  .nav_logo {
    font-size: 3.8rem;
  }
  .nav_links {
    gap: 0.5rem;
  }
  .nav_link {
    width: 8rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 1300px) {
  .navbar {
    padding: 2vh 4vw 2vh 4vw;
  }
  .nav_logo {
    font-size: 3rem;
  }
  .nav_links {
    gap: 0.5rem;
  }
  .nav_link {
    width: 6.2rem;
    font-size: .9rem;
    height: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav_link {
    width: 5.7rem;
    height: 2.7rem;
  }
  .nav_logo {
    font-size: 2.9rem;
  }
  .dropdown {
    padding: 0.5rem;
  }
  .dropdown_link {
    font-size: x-small;
    padding: 0.8rem;
  }
}

@media screen and (max-width: 850px) {
  .nav_link {
    width: 4.5rem;
    height: 2.1rem;
  }
  .nav_logo {
    font-size: 2.3rem;
  }
  .dropdown {
    padding: 0.5rem;
  }
  .dropdown_link {
    font-size: x-small;
    padding: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .nav_link_mobile {
    display: block;
  }
  .overlay {
    display: block;
  }
  .nav_logo {
    position: relative;
    width: 11rem;
  }
  .nav_logo img {
    width: 2.5rem;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.242); /* Adjust the opacity as needed */
    backdrop-filter: blur(3px); /* Adjust the blur as needed */
    z-index: 99999999; /* Make sure it's behind the sidebar */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .nav_links {
    position: fixed;
    left: -100%;
    z-index: 100000000;
    top: 0;
    background: var(--third-color);
    width: 50%;
    padding: 1rem 1rem 2rem 2rem;
    display: block;
    height: 100vh;
    background: var(--third-color);
    overflow-y: scroll;
    border-left: 2px solid var(--second-color);
    border-right: 2px solid var(--second-color);
  }

  .nav_link_parent {
    min-height: 2rem;
  }
  .nav_toggle {
    cursor: pointer;
    display: block;
  }
  .nav_close {
    color: var(--first-color);
    position: relative;
    text-align: end;
    right: 1rem;
  }
  .nav_toggle span {
    font-size: 1.8rem;
  }
  .arrow {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .nav_link {
    position: relative;
    height: auto;
  }
  .mobile_toogle_dropdown_arrow {
    display: block;
    color: var(--first-color);
    font-size: 1rem;
    position: relative;
    top: 2px;
  }
  .mobile_nav_dropdown {
    opacity: 0;
    height: 0;
    /* visibility: hidden; */
    display: none;
  }

  .mobile_nav_dropdown.open {
    height: auto;
    /* visibility: visible; */
    transition: all 0.3s ease;
    opacity: 1;
    display: block;
  }

  .mobile_nav_dropdown a {
    color: var(--first-color);
    font-size: 1.1rem;
  }
  .mobile_nav_dropdown a:hover {
    color: var(--second-color);
  }
  .mobile_nav_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0 0.8rem 0;
  }
  .nav_link {
    border: none;
    background: none;
    box-shadow: none;
    overflow: visible;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_link:hover {
    background: none;
    box-shadow: none;
    color: var(--third-color);
  }
  .nav_link a {
    position: relative;
    color: var(--first-color);
    transition: color 0.3s ease;
  }
  .nav_link_a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
  }
  .nav_link:hover a {
    color: var(--second-color);
  }
  .nav_link::after {
    display: none;
  }
  .nav_link_parent {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .nav_logo {
    font-size: 1.7rem;
    width: 8rem;
  }
  .nav_logo img {
    width: 1.7rem;
  }
  .nav_links {
    padding: 1rem;
  }
  .nav_toggle span {
    font-size: 1.2rem;
  }
  .nav_link a {
    left: 0;
    font-size: 1rem;
  }
  .mobile_nav_dropdown a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 360px) {
  .nav_logo {
    /* width: 9rem; */
  }
}
