/* CSS */
@font-face {
  font-family: neu;
  src: url(../../../../public/fonts/NeueHaasDisplayMediu.ttf);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: 2vh;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-bottom: 2vh;
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow property */
}

.navbar.scrolled {
  /* box-shadow: none; */
  box-shadow: rgba(0, 0, 0, 0.2) 15px 20px 25px -18px; /* Initial box shadow */
}
  .nav_toggle{
    display: none;
  }
  .nav_logo img{
    max-width: 100%;
  }
  .nav_logo {
    width: 5vw;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-family: neu;
  }
  .nav_links {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
  }
  .nav_link_parent {
    position: relative;
  }
  .nav_link_mobile{
    display: none;
  }
  .dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 100;
    padding: 1rem;
    background: var(--first-color);
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    color: var(--third-color);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.1s ease;
    transition: all 0.5s ease;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
  .nav_link_parent:hover .dropdown {
    transform: scale(1);
    visibility: visible;
  }
  .dropdown_link{
    padding: 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background: var(--first-color);
    transition: background 0.3s ease;
    border-radius: .3rem;
    position: relative;
    color: var(--third-color);
  }
  .Links{
    color: black;
  }
  .dropdown_link:hover .Links{
    color: white;
  }
  .dropdown_link:hover{
    background: var(--second-color);
    color: var(--first-color);
  }
  .linking_dropdown{
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    background: var(--first-color);
    position: absolute;
    right: 2rem;
    top: -.4rem;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    z-index: -100;
  }

  @media screen and (max-width: 1024px){
    .nav_link{
      width: 5.7rem;
  height: 2.7rem;
    }
    .nav_logo{
      font-size: 2.9rem;
    }
    .dropdown{
      padding: .5rem;
    }
    .dropdown_link {
      font-size: x-small;
      padding: .8rem;
    }
  } 

  @media screen and (max-width: 850px){
    .nav_link{
      width: 5rem;
  height: 2.2rem;
    }
    .nav_logo{
      font-size: 2.3rem;
    }
    .dropdown{
      padding: .5rem;
    }
    .dropdown_link {
      font-size: x-small;
      padding: .8rem;
    }
  } 

  @media screen and (max-width: 768px){
    .nav_link_mobile{
      display: block;
    }
    .nav_links{
      position: absolute;
      right: -100%;
      z-index: 10000;
      flex-direction: column;
      top: 0;
      background: var(--third-color);
      backdrop-filter: blur(10px);
      width: 50%;
      gap: 2rem;
      padding: 1rem 0 2rem 2rem;
    }
    .nav_toggle{
      cursor: pointer;
      display: block;
    }
    .nav_close{
      align-self: flex-end;
      justify-self: flex-end;
      color: var(--first-color);
      position: relative;
      right: 2rem;
    }
    .nav_toggle span{
      font-size: 1.5rem;
    }
    .arrow{
      display: none;
    }
    .dropdown{
      display: none;
    }
    .nav_link{
      border: none;
      background: none;
      box-shadow: none;
      overflow: visible;
      display: block;
    }
    .nav_link:hover{
      background: none;
      box-shadow: none;
      color: var(--third-color);
    }
    .nav_link a{
      font-size: 1.5rem;
      position: relative;
      color: var(--first-color);
      transition: color 0.3s ease;
    }
    .nav_link:hover a{
      color: var(--second-color);
    }
    .nav_link::after{
      display: none;
    }
  }

  @media screen and (max-width: 414px){
    .nav_logo{
      font-size: 2rem;
    }
    .nav_links{
      padding: 1rem;
    }
    .nav_toggle span{
      font-size: 1.2rem;
    }
    .nav_close{
      right: .5rem;
    }
    .nav_link a{
      left: 0;
      font-size: 1rem;
    }
  } 
  