.form {
    position: relative;
    margin-top: 1rem;
  }
  .group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .group textarea {
    width: 100%;
    padding: 0 0.2rem 0 0.2rem;
    min-height: 10rem;
    font-size: 1rem;
    border: none;
    color: var(--first-color);
    font-family: var(--second-font-family);
    background: var(--light-dark-color);
    padding: 1rem;
  }
  .group textarea:focus {
    border: var(--border-color);
  }
  .group textarea::placeholder {
    color: var(--first-color);
  }
  
  .form input {
    font-family: var(--second-font-family);
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.4rem;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
    color: var(--third-color);
    background: rgba(0, 0, 0, 0);
    opacity: 0.5;
    transition: 0.2s ease;
    border-left:1px solid var(--border-color);
  }
  
  .form input:focus {
    outline: none;
    opacity: 1;
  }
  
  .form label {
    padding: 0.5rem 0 0.5rem 0.4rem;
    font-family: var(--second-font-family);
    color: var(--third-color);
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    top: 0;
    opacity: 0.5;
    transition: 0.2s ease all;
  }
  
  .form input:focus ~ .label,
  input:valid ~ .label {
    top: -1rem;
    font-size: .5rem;
    color: var(--third-color);
    opacity: 1;
  }
  
  .form .highlight {
    position: absolute;
    height: 60%;
    width: 8rem;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  .form input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
  }
  .form textarea:focus{
    border: 1px solid var(--border-color);
    outline: 1px solid var(--border-color);
  }
  
  @keyframes inputHighlighter {
    from {
      background: rgba(0, 0, 0, 0.4);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
.form_submit{
    justify-self: center;
    align-self: center;
    border-radius: .5rem;
}
.form_submit p:hover{
    color: var(--third-color);
}
.form_submit p{
    position: relative;
    z-index: 5;
}


.dashboard_layout{
  display: flex;
}
.db_pages_show{
  display: flex;
  flex-direction: column;
}
/* NAVBR  */
.db_nav_links {
  width: 25vw;
  transition: width 0.3s ease;
  overflow: hidden;
  height: 100vh;
  overflow: scroll;
}
.db_nav_links.open {
  transition: all 0.3s ease;
  width: 25vw; 
}

.db_nav_links.closed {
  width: 0;
  padding: 0;
}
.db_pages_show{
  height: 100vh;
  overflow: scroll;
  width: 100%;
}
.db_pages_show.open{
  width: 100vw;
}
.db_pages_show.close{
  width: 100%;
}
.db_nav_link {
  /* Your existing styles */
}
.nav_open_cl {
  cursor: pointer;
}

.open-icon {
  display: block;
}

.close-icon {
  display: none;
}

/* When sidebar is open, hide the bars icon and show the times icon */
.dashboard_layout .db_nav_links.open + .db_pages_show .open-icon {
  display: none;
}

.dashboard_layout .db_nav_links.open + .db_pages_show .close-icon {
  display: block;
}

/* When sidebar is closed, show the bars icon and hide the times icon */
.dashboard_layout .db_nav_links.closed + .db_pages_show .open-icon {
  display: block;
}

.dashboard_layout .db_nav_links.closed + .db_pages_show .close-icon {
  display: none;
}


/* dashboard page  */
/* common class  */
.db_container{
  padding: 0 3% 0 3%;
}