.Main{
    margin-bottom:4rem ;
    margin-top:1rem;
    text-align: center;
    background-color: var( --first-color);
}
.about_link_top_container{
    margin-top: 0;
}
.title{
    font-size:var( --big-font-size);
}
.title span{
    color: var(--second-color);
}
.title h1{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Yellow_underline {
    width: 30%;
    height: 3px;
    background: var(--second-color);
    display: inline-block;
    margin-bottom: 10px;
}
.sub_headin{
    /* font-size: var(--h2-font-size); */
    margin-top: 1rem;
}
.main_con{
    margin-top: 1rem;
    display: flex ;
    justify-content: center;
    font-size: var(--normal-font-size);
}
.about_con{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;
}
/* -------------------------------- */
.our_mission_main{
    text-align: center;
    background-color: var(--second-color);
}
.title{
    text-align: center;
}

.mission_sec{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.White_underline{
        width: 20%;
        height: 4px;
        background: var(--first-color);
        display: inline-block;
        margin-bottom: 2rem;
}
.mission_main{
    display: flex;
    justify-content: center;
    font-size: var(--normal-font-size);
}
/* ------------------ */
.our_vision{
    text-align: center;
    margin-bottom: 4rem;
}
.vision_title{
    text-align: center;
}
.Main p{
    text-align: justify;
    text-align-last: center;
  }
@media only screen and (max-width: 1024px) {
    .about_link_top_container{
        padding-top: 2.5rem;
      }
}
@media only screen and (max-width: 768px) {
    .about_link_top_container{
        padding-top: 2rem;
      }
}
@media only screen and (max-width: 500px) {
    .about_link_top_container{
        padding-top: 1.5rem;
      }
}