.prod_topheading {
  font-size: 1.7rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.bg_prod_mainpage {
  display: flex;
  gap: 1rem;
}
.pg_left {
  position: relative;
  width: 70%;
}
.pg_right {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pg_left img {
  width: 100%;
  border-radius: 1rem;
}
.pg_right img {
  width: 100%;
  border-radius: 1rem;
}
.pg_left_mainimage {
  border-radius: 1rem;
  overflow: hidden;
}

.pg_left_mainimage img {
  transition: transform 1s ease; 
}

.pg_left_mainimage:hover img {
  transform: scale(1.2);
}
.top_blog_blog_title{
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--first-color);
  font-size: 2rem;
  font-weight: bold;
  padding: 6px;
  border-radius: 1rem;
  max-width: 25rem;
  backdrop-filter: opacity(0.5);
}
.prod_rightcontentarrow {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.prod_rightcontentarrow {
font-size: calc(var(--normal-font-size) + 1rem);
  color: var(--first-color);
}
.pg_third_most_liked{
    position: relative;
}
.pg_second_most_liked{
    position: relative;
}
.rightimgsecimgicon{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: calc(var(--normal-font-size) + .5rem);
    color: var(--first-color);
}
.pg_right_div {
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .pg_right_div img {
    transition: transform 1s ease; 
  }
  
  .pg_right_div:hover img {
    transform: scale(1.2);
  }
  .button_blg_show_details{
    width: 14rem;
    height: 4rem;
    background: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third-color);
    border-radius: 10rem;
    border: 1px solid var(--border-color);
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: var(--normal-font-size);
  }
  @media only screen and (max-width: 1700px) {
    .button_blg_show_details{
      width: 12rem;
      height: 3.5rem;
    }
  }
  @media only screen and (max-width: 1500px) {
    .button_blg_show_details{
      width: 10rem;
      height: 3.5rem;
    }
  }
  @media only screen and (max-width: 1300px) {
    .prod_topheading {
      font-size: 1.5rem;
    }
    .button_blg_show_details{
      width: 8rem;
      height: 3rem;
    }
  }
  @media only screen and (max-width: 1024px) {
    .blogs_top_blgs{
      padding-top: 2.5rem;
    }
    .prod_topheading {
      font-size: 1.3rem;
    }
    .button_blg_show_details{
      width: 7.5rem;
      height: 2.3rem;
    }
  }
  @media screen and (max-width: 768px){
    .blogs_top_blgs{
      padding-top: 2rem;
    }
    .prod_topheading {
      font-size: 1.1rem;
    }
    .button_blg_show_details{
      width: 7rem;
      height: 1.5rem;
      font-size: calc(var(--normal-font-size) - 4px);
    }
    .pg_left img {
      border-radius: .5rem;
    }
    .pg_right img {
      border-radius: .5rem;
    }
    .pg_right_div {
      border-radius: .5rem;
    }
    .pg_left_mainimage {
      border-radius: .5rem;
    }
  }
  @media screen and (max-width: 500px){
    .blogs_top_blgs{
      padding-top: 1.5rem;
    }
    .prod_topheading {
      font-size: 1rem;
    }
    .button_blg_show_details{
     display: none;
    }
  }