.prod_topheading {
  font-size: 1.7rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.bg_prod_mainpage {
  display: flex;
  gap: 1rem;
}
.pg_left {
  position: relative;
  width: 70%;
}
.pg_right {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pg_left img {
  width: 100%;
  border-radius: 1rem;
}
.pg_right img {
  width: 100%;
  border-radius: 1rem;
}
.pg_left_mainimage {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.pg_left_mainimage img {
  transition: transform 1s ease; 
}

.pg_left_mainimage:hover img {
  transform: scale(1.2);
}
.top_blog_blog_title{
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--first-color);
  font-size: 2rem;
  font-weight: bold;
  padding: 6px;
  border-radius: 1rem;
  max-width: 25rem;
  backdrop-filter: opacity(0.5);
}
.prod_rightcontentarrow {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.prod_rightcontentarrow {
  font-size: 3rem;
  color: var(--first-color);
}
.pg_third_most_liked{
    position: relative;
}
.pg_second_most_liked{
    position: relative;
}
.rightimgsecimgicon{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 2rem;
    color: var(--first-color);
}
.pg_right_div {
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .pg_right_div img {
    transition: transform 1s ease; 
  }
  
  .pg_right_div:hover img {
    transform: scale(1.2);
  }