.cta{
    width: 100vw;
    min-height: 60vh;
    position: relative;
    z-index: 2;
    /* background: linear-gradient(var(--first-color),var(--third-color)); */
    background: var(--first-color);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third-color);
}
.cta_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    gap: 1rem;
}
.cta_heading{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}
.cta_about{
    font-size: 1.1rem;
}
.cta_contact{
    width: 10rem;
}
.cta_contact::after{
    background: var(--third-color);
}

@media screen and (max-width: 768px){
    .cta_heading{
        font-size: 1.4rem;
    }
    .cta_about{
        font-size: 1rem;
    }
    .cta{
        width: 100vw;
        min-height: auto;
        margin-bottom: 1rem;
    }
    .cta_contact{
        background: var(--third-color);
        width: 8rem;
      }
      .cta_contact a{
        color: var(--first-color);
        font-size: 1rem;
      }
      .cta_contact:hover{
        background: var(--second-color);
      }
      .cta_contact:hover a{
        color: var(--third-color);
      }
}
@media screen and (max-width: 414px){
    .cta_heading{
        font-size: 1.18rem;
    }
    .cta_about{
        font-size: .8rem;
    }
}