.cta{
    width: 100vw;
    position: relative;
    z-index: 2;
    background: var(--first-color);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third-color);
    padding-bottom: 2rem;
}
.cta_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* width: 80%; */
    gap: 1rem;
}
.cta_heading{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}
.cta_about{
    font-size: 1.1rem;
}

@media screen and (max-width: 768px){
    .cta_heading{
        font-size: 1.4rem;
    }
    .cta_about{
        font-size: 1rem;
    }
    .cta{
        width: 100vw;
        min-height: auto;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 500px){
    .cta_heading{
        font-size: 1.18rem;
    }
    .cta_about{
        font-size: 1rem;
    }
}