#hero_blob{
    position: relative;
    /* width: 46vw;
    height: 36vw; */
    width: 100vw;
    height: 40vh;
    background: var(--second-color);
    /* background: #000; */
    /* border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; */
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    right: 0;
    bottom: 7vh;
    filter: blur(20px);
    z-index: 1;
    transform:skew(0deg, -6deg);
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* #hero_1{
    background: var(--second-color);
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
    position: absolute;
}
#hero_2{
    background: linear-gradient(#f2ad08,#c49937);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero_3{
    position: absolute;
    background: linear-gradient(#f2ad08,#c49937);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero_4{
    position: sticky;
    background: linear-gradient(#f2ad08,#c49937);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
}
@keyframes anime3 {
    from{
        transform: translate(35%,-13%);
    }
    to{
        transform: translate(-10%,30%);
    }
} */
@keyframes anime1 {
    from{
        transform: translate(0px, -12px) scale(1, 1.1) skew(0deg, -7deg);
    }
    to{
        transform: translate(0px, 12px) scale(1, 1.1) skew(0deg, 3deg);
    }
}